{# Main Template for DJ Panel #}
{# Some useful shorthand variables #}
{% set currPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% block pagetitle %}DJ Panel{% endblock %} &bull; DJ Panel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
        {% stylesheets
            "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css"
            "https://raw.github.com/ExactTarget/fuelux/master/dist/css/fuelux.min.css"
            "bundles/djpanelmain/css/font-awesome.less"
            "bundles/djpanelmain/css/main.less"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    <body>

        <div id="page-header">
            <div class="container">
                <div class="clearfix">
                    <ul class="nav nav-pills pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> Jamie Greeff <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="profile.html">Your Profile</a></li>
                                <li><a href="form.html">Account Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h3><i class="icon-bullhorn icon-large"></i> DJ Panel</h3>
                </div>
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="{{ path("dj_panel_dashboard") }}">Dashboard</a></li>
                                <li><a href="{{ path("dj_panel_show_list") }}">My Shows</a></li>
                                <li><a href="{{ path("dj_panel_timetable") }}">Timetable</a></li>
                                <li><a href="{{ path("dj_panel_auto_dj_homepage") }}">Auto DJ</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li><a href="{{ path("dj_panel_admin_homepage") }}">Admin</a></li>
                                <li><a href="{{ path("dj_panel_admin_homepage") }}">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            {% block container %}
            <div class="row">
                <div class="span3">
                    <div id="station-status" class="well">
                        <h4>
                            Station Time
                            <span id="station-onair" class="label">....</span>
                        </h4>
                        <h1 id="station-time">00:00:00</h1>
                        <h5>Current Show</h5>
                        <h4 id="station-show">Auto DJ</h4>
                    </div>
                    <div id="station-nowplaying" class="well">
                        <img src="#" alt="Now Playing">
                        <span id="station-nowplaying-artist">...</span><br>
                        <strong id="station-nowplaying-title">...</strong>
                        <div class="clearfix"></div>
                    </div>
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% endblock %}

            <hr>

            <footer>
                <p class="pull-right">
                    <a href="#top">Back to top</a>
                </p>
                <p>
                    Powered by <a href="http://madjam002.github.com/dj-panel" target="_blank">DJ Panel</a><br>
                    Designed and Crafted by <a href="http://www.twitter.com/madjam002" target="_blank">@madjam002</a>
                </p>
                <br>
            </footer>

        </div>

        <script>
            var ServerTime = new Date("{{ "now"|date("Y-m-d H:i:s") }}");
        </script>

        {% block javascripts %}

        {% javascripts
            "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
            "http://code.jquery.com/ui/1.10.1/jquery-ui.js"
            "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"
            "http://fuelcdn.com/fuelux-imh/2.2/loader.min.js"
            "https://raw.github.com/timrwood/moment/2.0.0/min/moment.min.js"
            "bundles/djpanelmain/js/main.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% endblock %}

    </body>
</html>
